<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SimpleServlet</display-name>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>helloWorld</display-name>
    <servlet-name>helloWorld</servlet-name>
    <servlet-class>helloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloWorld</servlet-name>
    <url-pattern>/helloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletRequestDemo</display-name>
    <servlet-name>HttpServletRequestDemo</servlet-name>
    <servlet-class>HttpServletRequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletRequestDemo</servlet-name>
    <url-pattern>/HttpServletRequestDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletResponseDemo</display-name>
    <servlet-name>HttpServletResponseDemo</servlet-name>
    <servlet-class>HttpServletResponseDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletResponseDemo</servlet-name>
    <url-pattern>/HttpServletResponseDemo</url-pattern>
  </servlet-mapping>
</web-app>